nav {
    top: 0;
    left: 0;
    position: absolute;
}

.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background-color: var(--sidebar-bg);
    transition: all 0.5s ease;
    z-index: 4;
}

.sidebar .nav-header {
    font-size: 28px;
    color: var(--dark-text);
    line-height: 70px;
    text-align: center;
    background-color: var(--sidebar-bg);
    user-select: none;
    font-family: "Lato", sans-serif;
}

.sidebar a {
    display: block;
    margin: auto;
    height: 65px;
    width: 100%;
    color: var(--dark-text);
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    font-family: "Lato", sans-serif;
    transition: all 0.5s ease;
}

a.active,
a:hover {
    border-left: 5px solid var(--accent-color);
    color: var(--white);
    background: linear-gradient(to left,
            var(--accent-color),
            var(--gradient-color));
}

.sidebar a i {
    font-size: 23px;
    /*
    margin-right: 16px;
    margin-top: 10px;
    */
    margin: 10px 0px 16px 0px;
    padding: 0px 0px 0px 0px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check {
    display: none;
}

.menuicon {
    position: fixed;
}

label #btn,
label #cancel {
    position: absolute;
    left: 5px;
    cursor: pointer;
    color: var(--color-one);
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: var(--color-two);
    height: 45px;
    width: 45px;
    text-align: center;

    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked~label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}

.sidebar>a.active,
.sidebar>a:hover:nth-child(even) {
    --accent-color: #52d6f4;
    --gradient-color: #c1b1f7;
}

.sidebar a.active,
.sidebar>a:hover:nth-child(odd) {
    --accent-color: #c1b1f7;
    --gradient-color: #A890FE;
}

@media(max-width : 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    .nav-header,
    #btn,
    #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}