.button {
    background-color:var(--button);
    border-radius:5px;
    border: none !important;
    width:100px;
    margin-bottom:5px;
    height:40px;
  }
  .button:hover,
  .button:focus {
    border-radius: 5px;
    background-color: var(--button-hover);
  }
  
  .settings-head {
    font-family: 'Poppins';
    font-size: 36px;
    color: var(--header);
    padding:0px 0px 0px 0px;
    margin: 0px 0px 0spx 0px;
  }
  .settings-head2 {
    font-family: 'Poppins';
    font-size: 24px;
    color: var(--header);
  }
  .dropdown {
    font-family: 'Poppins';
    background-color: var(--button);
    width: 150px;
    height:30px;
    border-radius:5px;
    border:none;
  }
  option {
    font-family: 'Poppins';
    border-radius:5px;
  }