body[data-theme="default"] {
    --background: linear-gradient(to right, #db5dfd, #bf83fb);
    --theme-i: #824dff;
    --sidebar-bg: #f3f3f3;
    --dark-text: #353535;
    --color-one: #c48aff;
    --color-two: #9c38ff;
    --white: white;
    --box: #242424;
    --header: #3f12f3;
    --button: #F08FFC;
    --button-hover: #F080AC;
    --font-family: ariel;
}

body[data-theme="dark-mode"] {
    --background:linear-gradient(to right, #342b36, #000000);
    --theme-i: #6b00b6;
    --sidebar-bg: #1d1d1d;
    --dark-text: white;
    --color-one: #9c38ff;
    --color-two: #c48aff;
    --white: #242424;
    --box: #353535;
    --header: #824dff;
    --button: #F08FFC;
    --button-hover: #F080AC;
    --font-family: ariel;
}
body[data-theme="model-red"] {
    --background:linear-gradient(to right, #3a2727, #000000);
    --theme-i: #b80000;
    --sidebar-bg: #1d1d1d;
    --dark-text: red;
    --color-one: #ff0000;
    --color-two: #000000;
    --white: #242424;
    --box: #353535;
    --header: #ff4d4d;
    --button: #8f8f8f;
    --button-hover: #000000;
    --font-family: ariel;
    --color: red;
}
